<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <section class="one-header">
            <div class="accound-support">
                <ul>
                    <li>Accound</li>
                    <li>Track Order</li>
                    <li>Support</li>
                </ul>
            </div>
            <div class="lang">
                <select name="" id="langs">
                    <option value="1">UZB</option>
                    <option value="2">RUS</option>
                    <option value="3">ENG</option>
                </select>
                <select name="" id="currency">
                    <option value="1">UZS</option>
                    <option value="2">USD</option>
                    <option value="3">RUBL</option>
                </select>
                <p>Lotin</p>
            </div>
        </section>
        <hr id="hr">
        <section class="two-header">
            <div class="logo">
                <img src="../public/images/logo.svg" alt="">
            </div>
            <div class="search">
                <input type="search" placeholder="Search product">
                <select name="" id="catecories-search">
                    <option value="1">All categories</option>
                    <option value="2">yes</option>
                    <option value="3">hi</option>
                </select>
                <button id="searchBtn">Search</button>
            </div>
            <div class="icons">
                <i class="fa-solid fa-repeat"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-shop"></i>
                <i class="fa-regular fa-user"></i>
            </div>

        </section>

        <section class="three-header">
            <div class="categories">
                <div class="categoriy-inner">
                    <select name="" id="">
                        <option value="1">All Categories</option>
                    </select>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop<i class='bx bx-chevron-down'></i></a></li>
                        <li><a href="#">Pages<i class='bx bx-chevron-down'></i></a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="create-seller">
                    <button><span>Become a Seller</span><i class='bx bx-chevron-right'></i></button>
                </div>
            </div>
        </section>
    </header>

    <main>
        <section class="about-us">
            <div class="about-us-text">
                <h1>About Us</h1>
            </div>
            <div class="about-us-desc">
                <div class="about-us-desc-image">
                    <img src="../public/images/about/about-us-image.png" alt="">
                </div>
                <div class="about-us-desc-text">
                    <p>
                    <h3>What is e-commerce business?</h3><br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    but also the on leap into electronic typesetting.
                    </p>
                    <ul>
                        <li>slim body with metal cover</li>
                        <li>latest Intel Core i5-1135G7 processor (4 cores / 8 threads)</li>
                        <li>8GB DDR4 RAM and fast 512GB PCIe SSD</li>
                        <li>NVIDIA GeForce MX350 2GB GDDR5 graphics card backlit keyboard</li>
                    </ul>
                    <button class="contact-us-btn"><a href="/contact">Contact Us</a></button>
                </div>
            </div>
        </section>

        <div class="services">
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/shipping.png" alt="image shopping">
                </div>
                <div class="service-info">
                    <h4>Free Shipping</h4>
                    <p>When ordering over $100</p>
                </div>
            </div>
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/return.png" alt=" return image">
                </div>
                <div class="service-info">
                    <h4>Free Return</h4>
                    <p>Get Return within 30 days</p>
                </div>
            </div>
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/trophy.png" alt="trophy image">
                </div>
                <div class="service-info">
                    <h4>Best Quality</h4>
                    <p>Original Product Guarenteed</p>
                </div>
            </div>
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/security-payment.png" alt="secure payment image">
                </div>
                <div class="service-info">
                    <h4>Secure Payment</h4>
                    <p>100% Secure Online Payment</p>
                </div>
            </div>
        </div>
        <section class="blogs">
            <div class="blogs-title">
                <p>My Latest News</p>
            </div>
            <div class="blogs__inner">
                <div class="blog-1">
                    <div class="blog-1-image">
                        <img src="../public/images/about/blog-img-1.jpg" alt="blog image">
                    </div>
                    <div class="blog-1-header">
                        <h3>reprehenderit non esse anim laboris reprehenderit officia</h3>
                    </div>
                    <div class="blog-1-text">
                        <p>irure laborum qui deserunt excepteur id ad sit quis laboris duis ut cillum eiusmod non sint exercitation nulla tempor nostrud eiusmod commodo...</p>
                    </div>
                </div>
                <div class="blog-2">
                    <div class="blog-2-image">
                        <img src="../public/images/about/blog-img-2.jpg" alt="blog image">
                    </div>
                    <div class="blog-2-header">
                        <h3>aliquip duis nostrud ex cillum laborum adipisicing</h3>
                    </div>
                    <div class="blog-2-text">
                        <p>adipisicing dolor esse voluptate occaecat laborum fugiat adipisicing laboris id cupidatat deserunt exercitation et velit consectetur eiusmod...</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>