<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PAGE</title>
</head>
<body>
    <h1>
        <ul>
            <% sellers.forEach(function(seller) { %>
                <li><%= seller.shop_name %> - <%= seller.id %></li>
            <% }); %>
        </ul>
    </h1>
</body>
</html>