<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/header-and-main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
    <link rel="stylesheet" href="../public/styles/contact.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="one-header">
            <div class="accound-support">
                <ul>
                    <li>Accound</li>
                    <li>Track Order</li>
                    <li>Support</li>
                </ul>
            </div>
            <div class="lang">
                <select name="" id="langs">
                    <option value="1">UZB</option>
                    <option value="2">RUS</option>
                    <option value="3">ENG</option>
                </select>
                <select name="" id="currency">
                    <option value="1">UZS</option>
                    <option value="2">USD</option>
                    <option value="3">RUBL</option>
                </select>
                <p>Lotin</p>
            </div>
        </section>
        <hr id="hr">
        <section class="two-header">
            <div class="logo">
                <img src="../public/images/logo.svg" alt="">
            </div>
            <div class="search">
                <input type="search" placeholder="Search product">
                <select name="" id="catecories-search">
                    <option value="1">All categories</option>
                    <option value="2">yes</option>
                    <option value="3">hi</option>
                </select>
                <button id="searchBtn">Search</button>
            </div>
            <div class="icons">
                <i class="fa-solid fa-repeat"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-shop"></i>
                <i class="fa-regular fa-user"></i>
            </div>
            
        </section>
        
        <section class="three-header">
            <div class="categories">
                <div class="categoriy-inner">
                    <select name="" id="">
                      <option value="1">All Categories</option>
                    </select>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="http://127.0.0.1:8080/">Home</a></li>
                        <li><a href="#">Shop<i class='bx bx-chevron-down' ></i></a></li>
                        <li><a href="#">Pages<i class='bx bx-chevron-down' ></i></a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="http://127.0.0.1:8080/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="create-seller">
                    <button><span>Become a Seller</span><i class='bx bx-chevron-right' ></i></button>
                </div>
            </div>
        </section>
    </header>
    <main>
        <div class="contact-title">
            <h2>Contact</h2>
        </div>
        <div class="contact-container">
            <div class="contact-info">
                <h4 style="padding: 20px 0 10px 0; margin-left: 15px;">Contact Information</h4>
                <p style="margin: 0 0 10px 15px;">Fill the form below or write us .We will help you as soon as possible.</p>
                <div class="phone-email">
                    <div class="phone">
                        <i class='bx bx-phone' ></i>
                        <h4>Phone</h4>
                        <p>+(998)  99  121 0416</p>
                        <p>+(998)  88  325 8311</p>
                    </div>
                    <div class="email">
                        <i class='bx bxs-envelope' ></i>
                        <h4>Email</h4>
                        <p>savbatov04@gmail.com</p>
                        <p>savbatovnodir@gmail.com</p>
                    </div>
                </div>
                <div class="location-map">
                    <div class="location-info">
                        <i class='bx bx-location-plus' ></i>
                        <h3>Toshkent</h3>
                    </div>
                    <div class="location-image">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d91194.70891135582!2d69.20430050000002!3d41.28313870000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1suz!2s!4v1722703863210!5m2!1suz!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>  
            </div>

            <form action="">
                <div class="send-message">
                    <h1>Get In Touch</h1>
                    <div class="send-message-container">
                        <label for="">First Name</label>
                        <input type="text" placeholder="Demo Name">
                        <label for="">Email Address</label>
                        <input type="email" name="" id="" placeholder="info@gmail.com">
                        <label for="">Subject</label>
                        <input type="text" name="" id="" placeholder="Your Subject here">
                        <label for="">Message</label>
                        <textarea name="" id="" placeholder="Message"></textarea>
                    </div>
                    <button>Send Now</button>
                </div>
            </form>
        </div>

    </main>
    <footer>
        <div class="footer-icon">
            <img src="../public/images/logo.svg" alt="">
        </div>
        <hr id="hr">
        <div class="footer-about-us-info">
            <div class="footer-container">
                <h4>About Us</h4>
                <p>We know there are a lot of threa developers our but we pride into a firm in the industry.</p>
            </div>
            <div class="footer-container">
                <h4>Feature</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms Condition</a></li>
                    <li><a href="#">Best Products</a></li>
                </ul>
            </div>
            <div class="footer-container">
                <h4>General Links</h4>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Tracking Order</a></li>
                    <li><a href="#">Become Seller</a></li>
                </ul>
            </div>
            <div class="footer-container">
                <h4>Helpful</h4>
                <ul>
                    <li><a href="#">Flash Sale</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
        <hr id="hr2">
        <div class="footer-icons">
            <div class="social-icons">
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-facebook' ></i>
                <i class='bx bxl-youtube' ></i>
                <p>&copy;2024 <span>QuomodosoftAll</span> rights reserved</p>
            </div>
            <div class="card-icons">
                <img src="../public/images/payment-getways.png" alt="">
            </div>
        </div>
    </footer>

</body>
</html>