<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="one-header">
            <div class="accound-support">
                <ul>
                    <li>Accound</li>
                    <li>Track Order</li>
                    <li>Support</li>
                </ul>
            </div>
            <div class="lang">
                <select name="" id="langs">
                    <option value="1">UZB</option>
                    <option value="2">RUS</option>
                    <option value="3">ENG</option>
                </select>
                <select name="" id="currency">
                    <option value="1">UZS</option>
                    <option value="2">USD</option>
                    <option value="3">RUBL</option>
                </select>
                <p>Lotin</p>
            </div>
        </section>
        <hr id="hr">
        <section class="two-header">
            <div class="logo">
                <img src="../public/images/logo.svg" alt="">
            </div>
            <div class="search">
                <input type="search" placeholder="Search product">
                <select name="" id="catecories-search">
                    <option value="1">All categories</option>
                    <option value="2">yes</option>
                    <option value="3">hi</option>
                </select>
                <button id="searchBtn">Search</button>
            </div>
            <div class="icons">
                <i class="fa-solid fa-repeat"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-shop"></i>
                <i class="fa-regular fa-user"></i>
            </div>
            
        </section>
        
        <section class="three-header">
            <div class="categories">
                <div class="categoriy-inner">
                    <select name="" id="">
                      <option value="1">All Categories</option>
                    </select>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop<i class='bx bx-chevron-down' ></i></a></li>
                        <li><a href="#">Pages<i class='bx bx-chevron-down' ></i></a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="create-seller">
                    <button><span>Become a Seller</span><i class='bx bx-chevron-right' ></i></button>
                </div>
            </div>
        </section>
    </header>

    <main>
        <div class="hero">
            <div class="hero-container">
                <div class="item item-1">
                    <img src="../public/images/s24.png" alt="">
                </div>
                <div class="item item-2">
                    <img src="../public/images/i-watch.png" alt="">
                </div>
                <div class="item item-3">
                    <img src="../public/images/plastation.png" alt="">
                </div>
            </div>
        </div>

        <!-- services -->
         <div class="services">
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/shipping.png" alt="image shopping">
                </div>
                <div class="service-info">
                    <h4>Free Shipping</h4>
                    <p>When ordering over $100</p>
                </div>
            </div>
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/return.png" alt=" return image">
                </div>
                <div class="service-info">
                    <h4>Free Return</h4>
                    <p>Get Return within 30 days</p>
                </div>
            </div>
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/trophy.png" alt="trophy image">
                </div>
                <div class="service-info">
                    <h4>Best Quality</h4>
                    <p>Original Product Guarenteed</p>
                </div>
            </div>
            <div class="service-container">
                <div class="service-image">
                    <img src="../public/images/security-payment.png" alt="secure payment image">
                </div>
                <div class="service-info">
                    <h4>Secure Payment</h4>
                    <p>100% Secure Online Payment</p>
                </div>
            </div>
         </div>

         <section class="mobile-app-reklama" data-aos="fade-right">
                <div class="flash-sale">
                    <ul>
                        <li><span><h2 style="color: #EB5757;">0</h2></span><span>Days</span></li>
                        <li><span><h2 style="color: #2F80ED;">0</h2></span><span>Hours</span></li>
                        <li><span><h2 style="color: #219653;">0</h2></span><span>Minutes</span></li>
                        <li><span><h2 style="color: #EF5DA8;">0</h2></span><span>Seconds</span></li>
                    </ul>
                    <h1 style="padding: 50px;">WOO! Flash sale</h1>
                </div>
                <div class="mobile-app">
                        <h4 style="font-weight: 300; padding-left: 20px;">MOBILE APP VERSION</h4>
                        <h1>Get Our <span>Mobile App</span>
                            It’s Make easy for you life !</h1>
                        <div class="playstore-appstore">
                            <div class="image-app-market">
                                <img src="../public/images/play-store.png" alt="">
                            </div>
                            <div class="image-app-market">
                                <img src="../public/images/apple-store.png" alt="">
                            </div>
                        </div>
                        <div class="image-phone">
                            <img src="../public/images/app-screen.png" alt="app secren image">
                        </div>
                </div>
         </section>


         <h1>Shop by Brand</h1>
         <section class="company" data-aos="fade-up">
                <div class="company-image">
                    <img src="../public/images/company-logo/one-plus.png" alt="one plus">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/tencent.png" alt="tencent image">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/apple.png" alt="apple">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/micrasoft.png" alt="micrasoft">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/lenovo.png" alt="lenovo">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/huawe.png" alt="huawe">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/nexus.png" alt="nexus">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/google.png" alt="google">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/firefox.png" alt="firefox">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/tesla.png" alt="tesla">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/brave.png" alt="brave">
                </div>
                <div class="company-image">
                    <img src="../public/images/company-logo/facebook.png" alt="facebook">
                </div>
         </section>


         <h1>Top Selling Products</h1>

         <section class="top-selling-products">
                <div class="container">
                    <div class="user-icons">
                        <i class="fa-solid fa-repeat"></i>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-shop"></i>
                    </div>
                    <ul class="product-image">
                        <img src="../public/images/laptop.jpg" alt="product image">
                    </ul>
                    <ul class="product-info">
                        <div class="rates">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                        </div>
                        <div class="product-title">
                            <p>Senmei ipsum dolore eiusmod dolor officia do nisi</p>
                        </div>
                        <div class="price-discount">
                            <p id="old-price">$20.64</p>
                            <p id="new-price">$27.61</p>
                        </div>
                        <div class="card-button"><button>Add to Card</button></div>
                    </ul>           
                </div>
                <div class="container">
                    <div class="user-icons">
                        <i class="fa-solid fa-repeat"></i>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-shop"></i>
                    </div>
                    <ul class="product-image">
                        <img src="../public/images/laptop.jpg" alt="product image">
                    </ul>
                    <ul class="product-info">
                        <div class="rates">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                        </div>
                        <div class="product-title">
                            <p>Senmei ipsum dolore eiusmod dolor officia do nisi</p>
                        </div>
                        <div class="price-discount">
                            <p id="old-price">$20.64</p>
                            <p id="new-price">$27.61</p>
                        </div>
                        <div class="card-button"><button>Add to Card</button></div>
                    </ul>           
                </div>
                <div class="container">
                    <div class="user-icons">
                        <i class="fa-solid fa-repeat"></i>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-shop"></i>
                    </div>
                    <ul class="product-image">
                        <img src="../public/images/laptop.jpg" alt="product image">
                    </ul>
                    <ul class="product-info">
                        <div class="rates">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                        </div>
                        <div class="product-title">
                            <p>Senmei ipsum dolore eiusmod dolor officia do nisi</p>
                        </div>
                        <div class="price-discount">
                            <p id="old-price" style="text-decoration: line-through;">$20.64</p>
                            <p id="new-price" style="color: red;">$27.61</p>
                        </div>
                        <div class="card-button"><button>Add to Card</button></div>
                    </ul>           
                </div>
                <div class="container">
                    <div class="user-icons">
                        <i class="fa-solid fa-repeat"></i>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-shop"></i>
                    </div>
                    <ul class="product-image">
                        <img src="../public/images/laptop.jpg" alt="product image">
                    </ul>
                    <ul class="product-info">
                        <div class="rates">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                            <img src="../public/images/start.png" alt="star image">
                        </div>
                        <div class="product-title">
                            <p>Senmei ipsum dolore eiusmod dolor officia do nisi</p>
                        </div>
                        <div class="price-discount">
                            <p id="old-price">$20.64</p>
                            <p id="new-price">$27.61</p>
                        </div>
                        <div class="card-button"><button>Add to Card</button></div>
                    </ul>           
                </div>
         </section>


         <h1>Best Saller</h1>
         <section class="best-saller">
                <div class="best-saller-container">
                    <div class="company-saller-logo">
                        
                    </div>
                    <h3>Shopno BD</h3>
                </div>
         </section>
         <section class="best-saller">
            <div class="best-saller-container">
                    <img src="../public/images/sallers/saller-1.png" alt="saller image">
                <h3>Shopno BD</h3>
            </div>
            <div class="best-saller-container">
                
                    <img src="../public/images/sallers/saller-2.png" alt="saller">

                <h3>Shopno BD</h3>
            </div>
            <div class="best-saller-container">
                
                    <img src="../public/images/sallers/saller-4.png" alt="saller">

                <h3>Shopno BD</h3>
            </div>
            <div class="best-saller-container">

                    <img src="../public/images/sallers/saller-5.png" alt="saller">
        
                <h3>Shopno BD</h3>
            </div>
            <div class="best-saller-container">

                    <img src="../public/images/sallers/saller-6.png" alt="saller">
    
                <h3>Shopno BD</h3>
            </div>
            <div class="best-saller-container">

                    <img src="../public/images/sallers/saller-3.png" alt="saller">

                <h3>Shopno BD</h3>
            </div>
     </section>




     <section class="shop-products">
        <div class="shop-products-container">
            <ul class="shop-product-image"> 
                <img src="../public/images/laptop.jpg" alt="">
            </ul>
            <ul>
                <div class="rates">
                    <img src="../public/images/start.png" alt="star image">
                    <img src="../public/images/start.png" alt="star image">
                    <img src="../public/images/start.png" alt="star image">
                    <img src="../public/images/start.png" alt="star image">
                    <img src="../public/images/start.png" alt="star image">
                </div>
                <h3>Xoggle aute et pariatur adipisicing nostrud et excepteur</h3>
                <div class="price-discount">
                    <p id="old-price">$20.64</p>
                    <p id="new-price">$27.61</p>
                </div>
            </ul>
        </div>
            <div class="shop-products-container">
                <ul class="shop-product-image"> 
                    <img src="../public/images/laptop.jpg" alt="">
                </ul>
                <ul>
                    <div class="rates">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                    </div>
                    <h3>Xoggle aute et pariatur adipisicing nostrud et excepteur</h3>
                    <div class="price-discount">
                        <p id="old-price">$20.64</p>
                        <p id="new-price">$27.61</p>
                    </div>
                </ul>
            </div>
            <div class="shop-products-container">
                <ul class="shop-product-image"> 
                    <img src="../public/images/laptop.jpg" alt="">
                </ul>
                <ul>
                    <div class="rates">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        
                        <img src="../public/images/start.png" alt="star image">
                    </div>
                    <h3>Xoggle aute et pariatur adipisicing nostrud et excepteur</h3>
                    <div class="price-discount">
                        <p id="old-price">$20.64</p>
                        <p id="new-price">$27.61</p>
                    </div>
                </ul>
            </div>
            <div class="shop-products-container">
                <ul class="shop-product-image"> 
                    <img src="../public/images/laptop.jpg" alt="">
                </ul>
                <ul>
                    <div class="rates">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                        <img src="../public/images/start.png" alt="star image">
                    </div>
                    <h3>Xoggle aute et pariatur adipisicing nostrud et excepteur</h3>
                    <div class="price-discount">
                        <p id="old-price">$20.64</p>
                        <p id="new-price">$27.61</p>
                    </div>
                </ul>
            </div>
     </section>

    </main>
    

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>